#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}

.logo-icon {
  color: var(--color-accent);
  font-size: 1.2em;
  transform: scaleX(-1);
  margin-right: 4px;
}

.logo-chess {
  color: var(--color-white);
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.logo-match {
  color: var(--color-accent);
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
