#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  #root {
    max-width: 1280px;
    padding: 2rem;
  }
}

.logo {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  color: var(--color-white);
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
  height: 100%;
  justify-content: center;
}

.logo-icon {
  color: var(--color-accent);
  font-size: 1.4em;
  transform: scaleX(-1);
  margin-right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-chess {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: var(--color-white);
}

.logo-match {
  font-size: 1.4em;
  letter-spacing: -0.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: var(--color-accent);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
